<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Username:</label>
    <div class="col-sm-3">
      {{ input type="text" value=jira.jira_username placeholder="JIRA Username" class="form-control" }}
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-3">
      {{ input type="password" value=jira.jira_password placeholder="JIRA password" class="form-control" }}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">site:</label>
    <div class="col-sm-3">
      {{ input value=jira.jira_site placeholder="http://srijan.atlassian.net:443/" class="form-control"  }}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn-custom" {{action "addCredentials" }} >Save</button>
    </div>
  </div>
</form>
