<div class="well">
  <h3> {{ model.name }} - Sprints({{model.sprints.length}}) </h3>
  <div class="col-lg-12 sprint-back-button">
    {{#link-to "projects.new-sprint" model.id class="btn btn-primary pull-right"}} Add Sprint {{/link-to}}
  </div>
</div>

<ul class="list-group">
  {{#each model.sprints as |s| }}
    <div class="list-group-item">
      {{#link-to "sprints.show" s.id }}
        <h4 class="" > {{s.name}} </h4>
      {{/link-to}}

    </div>
  {{else}}
    <div class="list-group-item">
      <h5> No Sprint in project </h5>
    </div>
  {{/each}}
</ul>
