<h3> {{ model.name }} - Stories({{model.stories.length}}) </h3>


<div class="list-group">
  {{#each model.stories as |story| }}
    <div class="list-group-item">
      <h4> {{story.title}} </h4>
      <p> {{story.description}} </p>

    </div>
  {{/each}}

</div>

