<div class="well">
  <h3> {{ model.name }} - Stories({{model.stories.length}}) </h3>

  <div class="col-lg-12 sprint-back-button">
    <div class="col-lg-1 pull-right">
      {{#link-to "sprints.new-story" model.id class="btn btn-primary pull-right"}} Add Story {{/link-to}}
    </div>
    <div class="col-lg-1 pull-right">
      {{#link-to "projects.show" model.project.id class="btn btn-primary pull-right"}} Back {{/link-to}}
    </div>
  </div>
</div>

<div class="list-group">
  {{ show-stories stories=model.stories sprintId=model.id }}
</div>

