<h3> {{ model.name }} - Stories({{model.stories.length}}) </h3>


<div class="list-group">
  {{#each model.stories as |story| }}
    <div class="list-group-item">
      <h4> {{story.storyNo}} </h4>
      <p>
        {{story.title}}
        {{#link-to "sprints.story" model.id story.id }}
          <span class="pull-right">View</span>
        {{/link-to}}
      </p>

    </div>
  {{/each}}

</div>

