<div class="list-group">
  <div class="list-group-item">
    <h4 class="text-muted">Story No.</h4>
    <p> {{ model.storyNo }} </p>
  </div>
  <div class="list-group-item">
    <h4 class="text-muted">Title</h4>
    <p> {{ model.title }} </p>
  </div>
  <div class="list-group-item">
    <h4 class="text-muted">Description</h4>
    <p> {{ model.description }} </p>
  </div>
</div>

{{ story-estimate }}
