<div class="row">
  <div class="col-lg-12">
    <div class="center-block text-center ">
      <h3 class="text-info">
        <i>Make estimating easier by keeping them manageable, estimating in relative terms and bucketing backlog items by story size.</i>
      </h3>
      <h4 class="text-muted text-primary">
        More to come on this page. Till then,

      </h4>
      <h3>
        Go to {{#link-to "projects" class="btn btn-success"}} Projects {{/link-to}}
      </h3>

    </div>
  </div>
</div>
